.follow-us-banner {
  /* background-color: goldenrod; */
  background-image: linear-gradient(to top, #987316, #daa520);
  color: ivory;
  display: flex;
  flex-wrap: wrap;
  padding: 2% 0;
  transition: 0.25s ease;
}

.icons-wrapper {
  display: flex;
  margin: 4% auto;
  width: 75%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.follow-us-banner > h2 {
  color: ivory;
  width: 100%;
  text-align: center;
}

.social-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: azure; */
}

.social-link *,
.social-link *:visited {
  color: azure;
}

.handle {
  font-size: 0.75em;
  /* display: none; */
  /* color: transparent; */
}

/* .handle:hover {
  color: white;
} */
