<%- include("head") -%>

  <body id="homepage_body">
    <%- include("nav") -%>

    <main class="center-text" id="contact_info">
      <img src="/imgs/fabba-banner-02.jpg" alt="fabba-banner-02" />
      <h1>Contact The FABBA Show</h1>
      <h3>The sensational, authentic, and truly magical tribute to ABBA.</h3>
      <p>
        <a href="mailto:info@thefabbashow.com">
          For booking and more, contact info@thefabbashow.com
        </a>
      </p>
      <div class="white-stripe-follow">
        <h2>Or Find Us On Social Media</h2>
        <a href="https://www.facebook.com/theFABBAshow"
          ><i class="fab fa-facebook"></i
        ></a>
        <a href="https://www.instagram.com/thefabbashow/"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://www.youtube.com/channel/UCNDXZGcI28PSC-Mft7Es3Vw"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
      <img src="/imgs/fabba-banner-01.jpg" alt="fabba-banner-01" />
    </main>

    <%- include("footer") -%>
  </body>
</html>
