<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>The FABBA Show</title>
    <script
      src="https://kit.fontawesome.com/edd737a9c9.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body id="homepage_body">
    <div id="click-blocker"></div>
    <!-- To make navbar transparent, add "transparent-navbar" to the nav elements class list and enable CSS styles for .transparent-navbar and .nav-color -->
    <nav class="navbar transparent-navbar">
      <a href="/index.html" class="site-name nav-item" id="site-name"
        >The FABBA Show</a
      >
      <ul class="main-nav">
        <li class="nav-item">
          <a href="/index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/show.html" class="nav-link">The Show</a>
        </li>
        <li class="nav-item">
          <a href="/theband.html" class="nav-link">The Band</a>
        </li>
        <li class="nav-item">
          <a href="/events.html" class="nav-link">Events</a>
        </li>
        <li class="nav-item">
          <a href="/contact.html" class="nav-link">Contact</a>
        </li>
      </ul>
      <div class="nav-item" id="nav-toggle-item">
        <a class="nav-link" onclick="navToggle()">
          <i class="fas fa-bars"></i>
        </a>
      </div>
    </nav>
    <!-- Mobile Navigation -->
    <nav class="side-sheet" id="side-nav">
      <ul class="side-nav">
        <li id="side-nav-close-item">
          <i class="fas fa-times" id="side-nav-close-icon"></i>
        </li>
        <li class="nav-item">
          <p id="site-name-side-sheet">The FABBA Show</p>
        </li>
        <li class="nav-item">
          <a href="/index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/show.html" class="nav-link">The Show</a>
        </li>
        <li class="nav-item">
          <a href="/theband.html" class="nav-link">The Band</a>
        </li>
        <li class="nav-item">
          <a href="/events.html" class="nav-link">Events</a>
        </li>
        <li class="nav-item">
          <a href="/contact.html" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
          </a>
        </li>
      </ul>
    </nav>

    <main></main>

    <footer>
      <p>
        Copyright &copy; 2020 The FABBA show.
      </p>
      <a href="http://a2zeta.com/">Design by a2zeta creative design.</a>
    </footer>

    <script type="text/javascript" src="js/scripts.js"></script>
  </body>
</html>
