<%- include("head") -%>

  <body id="homepage_body">
    <%- include("nav") -%>

    <main>
      <header>
        <img
          src="imgs/Abba Big Bear Photo Shoot/big_bear_26.jpg"
          alt="The Members of fABBA"
          class="full-width-img show-on-mobile"
        />
        <img
          src="imgs/Abba Big Bear Photo Shoot/big_bear_banner.jpg"
          alt="The Members of fABBA"
          class="full-width-img hide-on-mobile"
        />
        <img src="imgs/logo-01.png" alt="" id="abba_page_logo_display" />
      </header>
      <div class="container">
        <!-- <h1 class="center-text">The FABBA Show</h1> -->
        <h3 class="center-text">
          The sensational, authentic, and truly magical tribute to ABBA.
        </h3>
        <div class="center-text" id="band_bio">
          Direct from the U.K. and back by popular demand, The FABBA Show is now
          America's most renowned, authentic, and truly sensational tribute to
          ABBA. "The World's top ABBA tribute show," said the London Times and
          "Even better than the originals live," claimed the Houston Chronicle.
          The setlist is packed with all your favorite hits, and the costumes
          are simply spectacular. The energy and showmanship brought by this
          superb cast has fans from all over the world returning time after time
          for more of The FABBA Show.
        </div>
      </div>
      <!-- /.container -->
      <img
        src="imgs/fabba-08.jpg"
        alt="The Members of fABBA"
        style="margin-bottom: -5px;"
      />
      <div class="gold-stripe-follow">
        <h2>Follow The FABBA Show</h2>
        <a href="https://www.facebook.com/theFABBAshow"
          ><i class="fab fa-facebook"></i
        ></a>
        <a href="https://www.instagram.com/thefabbashow/"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://www.youtube.com/channel/UCNDXZGcI28PSC-Mft7Es3Vw"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
      <h2 id="meet_the_band">Meet The Band</h2>
      <div class="bios grid">
        <div class="bio flex" id="julie_bio">
          <img
            class="bio-pic"
            src="imgs/Bio Images/Julie Ruck 2.jpg"
            alt="Julie Ruck"
          />
          <div class="bio-text">
            <h3>Julianne Ruck</h3>
            <h5>As Agnetha Fältskog</h5>
            <p>
              Julianne is a lead singer and actress in all Knott’s Berry Farm’s
              big musical shows. She can be found on the Snoopy Stage, in the
              Cowboy Saloon and is the famous Ghostly Beauty in their Halloween
              Spooktacular. She plays the Queen in the hit show Medieval Times,
              and she recorded vocals for Elvira’s Mistress of the Dark 2016 and
              2017 live shows. Credits include Polly (Crazy For You) and Janet
              (Rocky Horror).
            </p>
          </div>
        </div>
        <div class="bio flex" id="mc">
          <img
            class="bio-pic"
            src="imgs/Bio Images/Marie-Claire Marshall.jpg"
            alt="Marie-Claire Marshall"
          />
          <div class="bio-text">
            <h3>Marie-Claire Marshall</h3>
            <h5>As Anni-Frid Lyngstad</h5>
            <p>
              Marie-Claire's credits include Juliet in Romeo and Juliet, Joan in
              Joan of Arc, and Katerina in the Taming of the Shrew for the
              English National Heritage Theater, Marla in Twists of Fate for the
              Weather Channel and roles in Jane the Virgin and Grace and
              Frankie. She has toured with The FABBA Show in Europe, Africa, and
              Asia.
            </p>
          </div>
        </div>
        <div class="bio flex" id="robert_bio">
          <img
            class="bio-pic"
            src="imgs/Bio Images/Robert 1.jpg"
            alt="Robert Gonzalez"
          />
          <div class="bio-text">
            <h3>Robert Gonzalez</h3>
            <h5>As Benny Andersson</h5>
            <p>
              Robert's credits include lead guitar in Funhouse and The PAC Men.
              Album releases include These Are The Days by Actual Size. He wrote
              and produced the song Julianne which, of course, is our own
              Julianne's favorite song. Robert is the owner and director of two of
              SoCal's top music schools called <a href="http://rockstarslaverne.com" rel="noopener noreferrer" target="_blank">Rockstars of Tomorrow</a>.
            </p>
          </div>
        </div>
        <div class="bio flex" id="andy_bio">
          <img
            class="bio-pic"
            src="imgs/Bio Images/Andy 1.jpg"
            alt="Andy Marshall"
          />
          <div class="bio-text">
            <h3>Andy Marshall</h3>
            <h5>As Björn Ulvaeus</h5>
            <p>
              Andy writes, produces, engineers, and plays guitar. He's written
              songs for Sonambu's touring show in Europe, engineered for Ken
              Follett's Blues band, and played guitar for almost every pop act
              to come out of the U.K.
            </p>
          </div>
        </div>
        <div class="bio flex" id="michael_bio">
          <img
            class="bio-pic"
            src="imgs/Bio Images/Michael Zeta 1.jpg"
            alt="Michael Zeta"
          />
          <div class="bio-text">
            <h3>Michael Zeta</h3>
            <h5>As Rutger Gunnarsson</h5>
            <p>
              Michael is a multi-instrumentalist and has been performing since
              the age of 12. When he's not disco dancing with The FABBA Show, he
              can be found in the studio recording with his original band, The Second Messenger or
              teaching the next generation of musicians at Rockstars of
              Tomorrow how to rock the stage.
            </p>
          </div>
        </div>
        <div class="bio flex" id="gustavo_bio">
          <img
            class="bio-pic"
            src="imgs/Bio Images/Gustavo 1.jpg"
            alt="Gustavo Peraza"
          />
          <div class="bio-text">
            <h3>Gustavo Peraza</h3>
            <h5>As Ola Brunkert</h5>
            <p>
              Gustavo is influenced by the classics from Elvis through
              alternative, fusion, jazz, and pop, and with years of recording,
              touring, and performing experience, he has found a new family playing with The FABBA Show. Remaining faithful to the original
              songs and adding that extra live excitement, he energizes the band
              and gets the audience out of their seats!
            </p>
          </div>
        </div>
      </div>
    </main>
    <%- include("footer") -%>
  </body>
</html>
