<footer>
  <p>
    Copyright &copy; 2020 The FABBA show.
  </p>
  <a href="http://a2zeta.com/">Design by a2zeta creative design.</a>
</footer>

<script type="text/javascript" src="js/scripts.js"></script>
