<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>The FABBA Show</title>
    <script
      src="https://kit.fontawesome.com/edd737a9c9.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
  </head>
</html>
