<div id="click-blocker"></div>
<!-- To make navbar transparent, add "transparent-navbar" to the nav elements class list and enable CSS styles for .transparent-navbar and .nav-color -->
<nav class="navbar transparent-navbar">
  <a href="/" class="site-name nav-item" id="site-name">The FABBA Show</a>
  <ul class="main-nav">
    <li class="nav-item">
      <a href="/" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="/about" class="nav-link">About</a>
    </li>
    <li class="nav-item">
      <a href="/events" class="nav-link">Events</a>
    </li>
    <li class="nav-item">
      <a href="/contact" class="nav-link">Contact</a>
    </li>
  </ul>
  <div class="nav-item" id="nav-toggle-item">
    <a class="nav-link" onclick="navToggle()">
      <i class="fas fa-bars"></i>
    </a>
  </div>
</nav>
<!-- Mobile Navigation -->
<nav class="side-sheet" id="side-nav">
  <ul class="side-nav">
    <li id="side-nav-close-item">
      <i class="fas fa-times" id="side-nav-close-icon"></i>
    </li>
    <li class="nav-item">
      <p id="site-name-side-sheet">The FABBA Show</p>
    </li>
    <li class="nav-item">
      <a href="/" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="/about" class="nav-link">About</a>
    </li>
    <li class="nav-item">
      <a href="/events" class="nav-link">Events</a>
    </li>
    <li class="nav-item">
      <a href="/contact" class="nav-link">Contact</a>
    </li>
    <li class="nav-item">
      <div class="nav-link">
        <a href="https://www.facebook.com/theFABBAshow" target="_blank"
          ><i class="fab fa-facebook"></i
        ></a>
        <a href="https://www.instagram.com/thefabbashow/" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
        <a
          href="https://www.youtube.com/channel/UCNDXZGcI28PSC-Mft7Es3Vw"
          target="_blank"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </li>
  </ul>
</nav>
